 .u-section-1 {
  background-image: url("images/Brainstorming.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 794px;
}

.u-section-1 .u-shape-1 {
  width: 570px;
  height: 314px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 266px auto 0 0;
}

.u-section-1 .u-group-1 {
  width: 561px;
  min-height: 418px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -475px auto 60px 53px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 710px;
  }

  .u-section-1 .u-shape-1 {
    width: 470px;
  }

  .u-section-1 .u-group-1 {
    width: 495px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 731px;
  }

  .u-section-1 .u-shape-1 {
    width: 360px;
    height: 360px;
    margin-top: 60px;
  }

  .u-section-1 .u-group-1 {
    width: 416px;
    margin-top: -521px;
    margin-bottom: -38px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-position: 42.47% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 621px;
  }

  .u-section-1 .u-shape-1 {
    width: 295px;
    height: 434px;
    margin-top: 53px;
  }

  .u-section-1 .u-group-1 {
    width: 303px;
    margin-top: -515px;
    margin-bottom: 24px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 17.39% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 627px;
  }

  .u-section-1 .u-shape-1 {
    width: 285px;
    height: 419px;
    margin-top: 60px;
  }

  .u-section-1 .u-group-1 {
    width: 299px;
    margin: -452px 0 76px auto;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 748px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 83px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 304px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 385px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  width: 519px;
  height: 311px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  margin: 54px auto 0 -243px;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 304px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-2 .u-text-3 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-4 {
  margin: 19px auto 0 0;
}

.u-section-2 .u-image-2 {
  min-height: 302px;
  background-image: url("images/31Jul_2.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-5 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-2 .u-image-3 {
  min-height: 302px;
  background-image: url("images/24Jul_12.jpg");
  background-position: 27.26% 59.51%;
  background-size: 135%;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-6 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-2 .u-layout-cell-7 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-7 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-2 .u-text-5 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-6 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-layout-cell-8 {
  min-height: 304px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-8 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 0;
}

.u-section-2 .u-text-7 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 22px auto 0 30px;
}

.u-section-2 .u-text-8 {
  margin: 20px auto 0 30px;
}

.u-section-2 .u-image-4 {
  height: 226px;
  width: 234px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  margin: -189px -177px 0 auto;
}

.u-section-2 .u-layout-cell-9 {
  min-height: 304px;
}

.u-section-2 .u-container-layout-9 {
  padding: 0;
}

.u-section-2 .u-layout-cell-10 {
  min-height: 302px;
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-10 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-2 .u-text-9 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 642px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 251px;
  }

  .u-section-2 .u-layout-cell-3 {
    background-position: 50% 50%;
    min-height: 317px;
  }

  .u-section-2 .u-image-1 {
    width: 455px;
    height: 298px;
    transform-origin: center center 0px;
    position: relative;
    margin-right: -4px;
    margin-left: -4px;
    transform: rotate(180deg);
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 251px;
  }

  .u-section-2 .u-image-2 {
    min-height: 249px;
  }

  .u-section-2 .u-image-3 {
    min-height: 249px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 251px;
  }

  .u-section-2 .u-image-4 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-rotate: 0deg;
    transition-duration: 0.5s;
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  }

  .u-section-2 .u-layout-cell-9 {
    background-position: 50% 50%;
    min-height: 251px;
  }

  .u-section-2 .u-layout-cell-10 {
    min-height: 249px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 524px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 243px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-image-2 {
    min-height: 191px;
  }

  .u-section-2 .u-image-3 {
    min-height: 191px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-9 {
    min-height: 192px;
  }

  .u-section-2 .u-layout-cell-10 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2611px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 60px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 621px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    min-height: 573px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    min-height: 573px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-layout-cell-9 {
    min-height: 576px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1763px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 391px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-image-2 {
    min-height: 361px;
  }

  .u-section-2 .u-image-3 {
    min-height: 361px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-7 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-layout-cell-9 {
    min-height: 363px;
  }
}

.u-section-2 .u-image-1,
.u-section-2 .u-image-1:before,
.u-section-2 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 676px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 556px;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-1 {
  padding: 29px 30px;
}

.u-section-3 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 6px auto 0 0;
}

.u-section-3 .u-text-2 {
  margin: 14px auto 0 0;
}

.u-section-3 .u-text-3 {
  font-size: 3rem;
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-3 .u-image-1 {
  min-height: 556px;
  background-image: url("images/Smartibot.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 578px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 458px;
  }

  .u-section-3 .u-image-1 {
    min-height: 458px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 471px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-3 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-image-1 {
    min-height: 351px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1124px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 0;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    min-height: 527px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 929px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-image-1 {
    min-height: 332px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 290px;
}

.u-section-4 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-weight: 700;
  font-size: 4.5rem;
  width: 780px;
  margin: 20px auto 0;
}

.u-section-4 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 20px 27px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-left: 80px;
    margin-right: 80px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 75px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 822px;
}

.u-section-5 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 22px auto 0;
}

.u-section-5 .u-text-2 {
  width: 783px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 22px auto 0;
}

.u-section-5 .u-gallery-1 {
  height: 552px;
  grid-gap: 17px 17px;
  margin: 28px auto 60px 0;
}

.u-section-5 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 725px;
  }

  .u-section-5 .u-gallery-1 {
    height: 455px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1018px;
  }

  .u-section-5 .u-text-2 {
    width: 720px;
  }

  .u-section-5 .u-gallery-1 {
    height: 784px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2586px;
  }

  .u-section-5 .u-text-2 {
    width: 540px;
  }

  .u-section-5 .u-gallery-1 {
    height: 2352px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1715px;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
  }

  .u-section-5 .u-gallery-1 {
    height: 1481px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 822px;
}

.u-section-6 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 22px auto 0;
}

.u-section-6 .u-text-2 {
  width: 783px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 22px auto 0;
}

.u-section-6 .u-gallery-1 {
  height: 552px;
  margin-top: 28px;
  margin-bottom: 60px;
  grid-gap: 17px 17px;
}

.u-section-6 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-6 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 725px;
  }

  .u-section-6 .u-gallery-1 {
    height: 455px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1018px;
  }

  .u-section-6 .u-text-2 {
    width: 720px;
  }

  .u-section-6 .u-gallery-1 {
    height: 784px;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2586px;
  }

  .u-section-6 .u-text-2 {
    width: 540px;
  }

  .u-section-6 .u-gallery-1 {
    height: 2352px;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1715px;
  }

  .u-section-6 .u-text-2 {
    width: 340px;
  }

  .u-section-6 .u-gallery-1 {
    height: 1481px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 1353px;
}

.u-section-7 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-weight: 700;
  font-size: 4.5rem;
  width: 780px;
  margin: 109px auto 0;
}

.u-section-7 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 20px 27px 0;
}

.u-section-7 .u-slider-1 {
  min-height: 896px;
  height: auto;
  margin-top: 49px;
  margin-bottom: 48px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-7 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-7 .u-carousel-item-1 {
  background-image: none;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 80px;
}

.u-section-7 .u-text-3 {
  margin: 0;
}

.u-section-7 .u-text-4 {
  font-size: 1.25rem;
  margin: 59px 0 0;
}

.u-section-7 .u-image-1 {
  width: 455px;
  height: 488px;
  margin: 60px auto 0 0;
}

.u-section-7 .u-image-2 {
  width: 440px;
  height: 488px;
  margin: -488px 0 0 auto;
}

.u-section-7 .u-carousel-item-2 {
  background-image: none;
}

.u-section-7 .u-container-layout-2 {
  padding: 7px 80px;
}

.u-section-7 .u-text-5 {
  margin: 23px 0 0;
}

.u-section-7 .u-text-6 {
  font-size: 1.25rem;
  margin: 59px 0 0;
}

.u-section-7 .u-image-3 {
  width: 449px;
  height: 493px;
  margin: 60px auto 0 0;
}

.u-section-7 .u-image-4 {
  width: 422px;
  height: 503px;
  margin: -503px 0 0 auto;
}

.u-section-7 .u-carousel-item-3 {
  background-image: none;
}

.u-section-7 .u-container-layout-3 {
  padding: 0 80px;
}

.u-section-7 .u-text-7 {
  margin: 30px 0 0;
}

.u-section-7 .u-text-8 {
  font-size: 1.25rem;
  margin: 59px 0 0;
}

.u-section-7 .u-image-5 {
  width: 346px;
  height: 435px;
  margin: 27px auto 0 52px;
}

.u-section-7 .u-image-6 {
  width: 488px;
  height: 437px;
  margin: -435px 10px 0 auto;
}

.u-section-7 .u-carousel-item-4 {
  background-image: none;
}

.u-section-7 .u-container-layout-4 {
  padding: 0 80px;
}

.u-section-7 .u-text-9 {
  margin: 30px 0 0;
}

.u-section-7 .u-text-10 {
  font-size: 1.25rem;
  margin: 59px 0 0;
}

.u-section-7 .u-image-7 {
  width: 346px;
  height: 492px;
  margin: 9px auto 0 52px;
}

.u-section-7 .u-image-8 {
  width: 466px;
  height: 498px;
  margin: -492px 0 0 auto;
}

.u-section-7 .u-carousel-control-1 {
  width: 43px;
  height: 43px;
  background-image: none;
}

.u-section-7 .u-carousel-control-2 {
  width: 43px;
  height: 43px;
  background-image: none;
  left: auto;
  position: absolute;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1352px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 80px;
    margin-right: 80px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-slider-1 {
    min-height: 895px;
  }

  .u-section-7 .u-image-2 {
    height: 487px;
  }

  .u-section-7 .u-image-4 {
    height: 502px;
  }

  .u-section-7 .u-image-5 {
    height: 434px;
  }

  .u-section-7 .u-image-6 {
    margin-top: -434px;
  }

  .u-section-7 .u-image-7 {
    height: 491px;
  }

  .u-section-7 .u-image-8 {
    margin-top: -491px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    width: 720px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    font-size: 1.875rem;
    width: 540px;
  }

  .u-section-7 .u-slider-1 {
    margin-top: 634px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1614px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.5rem;
    margin-top: -469px;
    width: 340px;
  }

  .u-section-7 .u-slider-1 {
    min-height: 762px;
    margin-top: 445px;
  }

  .u-section-7 .u-image-1 {
    width: 320px;
    height: 343px;
  }

  .u-section-7 .u-image-2 {
    width: 320px;
    height: 354px;
    margin-top: -343px;
  }

  .u-section-7 .u-image-3 {
    width: 320px;
    height: 351px;
  }

  .u-section-7 .u-image-4 {
    width: 320px;
    height: 381px;
    margin-top: -361px;
  }

  .u-section-7 .u-image-5 {
    width: 320px;
    height: 401px;
    margin-left: 0;
  }

  .u-section-7 .u-image-6 {
    width: 320px;
    height: 287px;
    margin-top: -401px;
    margin-right: 0;
  }

  .u-section-7 .u-image-7 {
    width: 320px;
    height: 454px;
    margin-left: 0;
  }

  .u-section-7 .u-image-8 {
    width: 320px;
    height: 342px;
    margin-top: -454px;
  }
} .u-section-8 {
  background-image: linear-gradient(white, #f1c50e);
  min-height: 100vh;
}

.u-section-8 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-weight: 700;
  font-size: 4.5rem;
  width: 780px;
  margin: 13px auto 0;
}

.u-section-8 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 20px 27px 0;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-8 .u-image-1 {
  min-height: 452px;
  background-image: url("images/20Jul_10.jpg");
  background-position: 50% 30.1%;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 452px;
  background-image: none;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-8 .u-text-3 {
  margin: 43px 0 0;
}

.u-section-8 .u-text-4 {
  margin: 40px 0 0 13px;
}

.u-section-8 .u-layout-cell-3 {
  min-height: 503px;
  background-image: none;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-8 .u-text-5 {
  margin: 43px 0 0;
}

.u-section-8 .u-text-6 {
  margin: 20px 0 0 13px;
}

.u-section-8 .u-image-2 {
  min-height: 452px;
  background-image: url("images/24Jul_13.jpg");
  background-position: 50% 33.5%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-8 .u-container-layout-4 {
  padding: 30px;
}

.u-section-8 .u-image-3 {
  min-height: 452px;
  background-image: url("images/31Jul_2.jpg");
  background-position: 50% 15.06%;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-8 .u-container-layout-5 {
  padding: 30px;
}

.u-section-8 .u-layout-cell-6 {
  min-height: 452px;
  background-image: none;
}

.u-section-8 .u-container-layout-6 {
  padding: 30px;
}

.u-section-8 .u-text-7 {
  margin: 64px 30px 0 0;
}

.u-section-8 .u-text-8 {
  margin: 19px 30px 0 13px;
}

@media (max-width: 1199px) {
   .u-section-8 {
    min-height: 1653px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-image-1 {
    min-height: 373px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 373px;
  }

  .u-section-8 .u-text-4 {
    margin-left: 0;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 415px;
  }

  .u-section-8 .u-text-6 {
    margin-left: 0;
  }

  .u-section-8 .u-image-2 {
    min-height: 373px;
  }

  .u-section-8 .u-image-3 {
    min-height: 373px;
  }

  .u-section-8 .u-layout-cell-6 {
    min-height: 373px;
  }

  .u-section-8 .u-text-7 {
    margin-right: 0;
  }

  .u-section-8 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-8 {
    min-height: 1392px;
  }

  .u-section-8 .u-text-1 {
    width: 720px;
  }

  .u-section-8 .u-image-1 {
    min-height: 286px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-image-2 {
    min-height: 286px;
  }

  .u-section-8 .u-image-3 {
    min-height: 286px;
  }

  .u-section-8 .u-layout-cell-6 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-8 {
    min-height: 2121px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.875rem;
    width: 540px;
  }

  .u-section-8 .u-image-1 {
    min-height: 429px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-layout-cell-3 {
    order: 1;
  }

  .u-section-8 .u-image-2 {
    order: 0;
    min-height: 429px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-3 {
    min-height: 429px;
  }

  .u-section-8 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-8 {
    min-height: 1644px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-8 .u-image-1 {
    min-height: 270px;
  }

  .u-section-8 .u-image-2 {
    min-height: 270px;
  }

  .u-section-8 .u-image-3 {
    min-height: 270px;
  }
}