 .u-section-1 {
  background-image: linear-gradient(#e5e5e5, #478ac9);
}

.u-section-1 .u-sheet-1 {
  min-height: 794px;
}

.u-section-1 .u-shape-1 {
  width: 570px;
  height: 314px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 266px auto 0 0;
}

.u-section-1 .u-group-1 {
  width: 561px;
  min-height: 418px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -475px auto 60px 53px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 22px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 710px;
  }

  .u-section-1 .u-shape-1 {
    width: 470px;
  }

  .u-section-1 .u-group-1 {
    width: 495px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 731px;
  }

  .u-section-1 .u-shape-1 {
    width: 360px;
    height: 360px;
    margin-top: 60px;
  }

  .u-section-1 .u-group-1 {
    width: 416px;
    min-height: 458px;
    margin-top: -521px;
    margin-bottom: -38px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 621px;
  }

  .u-section-1 .u-shape-1 {
    width: 295px;
    height: 434px;
    margin-top: 53px;
  }

  .u-section-1 .u-group-1 {
    width: 303px;
    min-height: 463px;
    margin-top: -515px;
    margin-bottom: 24px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 627px;
  }

  .u-section-1 .u-shape-1 {
    width: 285px;
    height: 419px;
    margin-top: 60px;
  }

  .u-section-1 .u-group-1 {
    width: 299px;
    min-height: 403px;
    margin: -452px 0 76px auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
} .u-section-2 {
  background-image: linear-gradient(#478ac9, black);
}

.u-section-2 .u-sheet-1 {
  min-height: 793px;
}

.u-section-2 .u-text-1 {
  width: 885px;
  font-size: 3rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 54px auto 0;
}

.u-section-2 .u-text-2 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 1.25rem;
  width: 717px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 54px auto 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  width: 1070px;
  margin: 98px auto 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 23.3333px));
  min-height: 339px;
  grid-gap: 35px;
}

.u-section-2 .u-list-item-1 {
  background-image: linear-gradient(#2cccc4, #b9c1cc);
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-group-1 {
  width: 126px;
  min-height: 126px;
  height: auto;
  background-image: none;
  margin: -42px auto 0 -30px;
}

.u-section-2 .u-text-3 {
  font-size: 2.25rem;
  font-weight: normal;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  margin: -2px 30px 0;
}

.u-section-2 .u-text-5 {
  margin: 30px 30px 0;
}

.u-section-2 .u-list-item-2 {
  background-image: linear-gradient(#2cccc4, #b9c1cc);
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-group-2 {
  width: 126px;
  min-height: 126px;
  height: auto;
  background-image: none;
  margin: -42px auto 0 -30px;
}

.u-section-2 .u-text-6 {
  font-size: 2.25rem;
  font-weight: normal;
  margin: 0 auto;
}

.u-section-2 .u-text-7 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: normal;
  margin: -2px 30px 0;
}

.u-section-2 .u-text-8 {
  margin: 30px 30px 0;
}

.u-section-2 .u-list-item-3 {
  background-image: linear-gradient(#2cccc4, #b9c1cc);
}

.u-section-2 .u-container-layout-5 {
  padding: 0;
}

.u-section-2 .u-group-3 {
  width: 126px;
  min-height: 126px;
  height: auto;
  background-image: none;
  margin: -42px auto 0 -30px;
}

.u-section-2 .u-text-9 {
  font-size: 2.25rem;
  font-weight: normal;
  margin: 0 auto;
}

.u-section-2 .u-text-10 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: normal;
  margin: -2px 30px 0;
}

.u-section-2 .u-text-11 {
  margin: 30px 30px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 569px;
  }

  .u-section-2 .u-list-1 {
    width: 940px;
    margin-bottom: -77px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 295px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-11 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1006px;
  }

  .u-section-2 .u-text-1 {
    width: 720px;
    font-size: 2.25rem;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
    margin-bottom: -17px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 17.5px));
    min-height: 732px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-text-11 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1019px;
  }

  .u-section-2 .u-text-1 {
    width: 356px;
    margin-top: 33px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
    font-size: 1rem;
  }

  .u-section-2 .u-list-1 {
    width: 492px;
    margin-bottom: 46px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 18px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 18px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin-top: 18px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 569px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
    font-size: 1.5rem;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }
} .u-section-3 {
  background-image: linear-gradient(black, #db545a);
}

.u-section-3 .u-sheet-1 {
  min-height: 974px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 53px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 39px;
  margin-bottom: 20px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 281px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 281px;
}

.u-section-3 .u-container-layout-2 {
  padding: 10px;
}

.u-section-3 .u-image-1 {
  width: 205px;
  height: 239px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 281px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  margin-bottom: 0;
  margin-top: 10px;
  font-weight: 700;
  font-size: 1.5rem;
}

.u-section-3 .u-text-3 {
  margin: 20px auto 0 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 282px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 0 0 auto;
}

.u-section-3 .u-text-5 {
  margin: 20px 0 0 auto;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 282px;
}

.u-section-3 .u-container-layout-5 {
  padding: 10px;
}

.u-section-3 .u-image-2 {
  width: 210px;
  height: 210px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-6 {
  min-height: 282px;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-7 {
  min-height: 246px;
}

.u-section-3 .u-container-layout-7 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-8 {
  min-height: 246px;
}

.u-section-3 .u-container-layout-8 {
  padding: 10px;
}

.u-section-3 .u-image-3 {
  width: 210px;
  height: 210px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-9 {
  min-height: 246px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-3 .u-container-layout-9 {
  padding: 30px;
}

.u-section-3 .u-text-6 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-7 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 833px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 232px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 232px;
  }

  .u-section-3 .u-image-1 {
    width: 232px;
    height: 232px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 232px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 233px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 233px;
  }

  .u-section-3 .u-image-2 {
    width: 199px;
    height: 199px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 233px;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 203px;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 203px;
  }

  .u-section-3 .u-image-3 {
    width: 199px;
    height: 199px;
  }

  .u-section-3 .u-layout-cell-9 {
    min-height: 203px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 676px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 178px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 178px;
  }

  .u-section-3 .u-image-1 {
    width: 173px;
    height: 173px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 178px;
  }

  .u-section-3 .u-image-2 {
    width: 148px;
    height: 148px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 178px;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 155px;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 155px;
  }

  .u-section-3 .u-image-3 {
    width: 148px;
    height: 148px;
  }

  .u-section-3 .u-layout-cell-9 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2558px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: -1072px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 348px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 182px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-4 {
    order: 1;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 176px;
    order: 0;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 348px;
    order: 2;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 303px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 196px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1709px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: -1328px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 219px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 115px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 111px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 219px;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 191px;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 123px;
  }
}